body {
    background-color: black;
}

.main-container {
    /* border: 3px solid white; */
    height: 450px;
    width: 850px;
    display: flex;
    flex-direction: column;
}

 h1 {
    color: white;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 15%;
    left: 15%;
    font-size: 75px;
    
}
.top-main {
    /* border: 2px solid green; */
    height: 100%;
    flex: 2;
}

img {
    height: 100%;
    width: 100%;
}

.section-container {
    /* border: 2px solid rgba(255, 0, 119, 0.685); */
    height: 324px;
    width: 850px;
    flex: 1;
    color: white;
    display: flex;
    gap: 20px;
    background-color: rgb(155, 150, 150);
}

p {
    /* column-gap: 20px; */
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 150, 150);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

main {
    height: 100%;
    width: 100%;
    background-color: rgb(155, 150, 150);
    margin: auto;
}

.Special {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
}

.Special-two {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

label {
    display: flex;
}

input {
    display: flex;
    width: 200px;
    /* margin: auto; */
}

.Message {
    height: 70px;

}

.two {
    padding-left: 10px;
}

button {
    display: flex;
    justify-content: flex-start;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 82px;
    background-color: rgb(168, 46, 168);
    color: white;
    padding: 5px 15px 5px 15px;
    font-size: 15px;
}