body {
    background-color: black;
}

.main-container {
    border: 3px solid white;
    height: 450px;
    width: 850px;
    display: flex;
    flex-direction: column;
}

 h1 {
    color: white;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 15%;
    left: 31%;
    
}
.top-main {
    border: 2px solid green;
    height: 50%;
    flex: 2;
}

img {
    height: 100%;
    width: 100%;
}

section {
    border: 2px solid rgba(255, 0, 119, 0.685);
    height: 324px;
    width: 850px;
    flex: 1;
    color: white;
    display: flex;
    gap: 20px;
}

p {
    column-gap: 20px;
    width: 270px;
}

p {
    display: flex;
    
}